name: Release to PyPI


on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:
    inputs:
      dry-run: 
        required: true
        default: true
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v2.2.2
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flit
        flit install --deps production
        
    - name: Build 
      run: |
        flit build 
        flit publish
      env:
        FLIT_USERNAME: __token__
        FLIT_PASSWORD: ${{ secrets.PYPI_KEY }}
